name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'
          # Use our own cache, obviously.
          cache: false
      - name: Build binary
        run: make build
      - name: Run short tests
        run: make test
      - name: Run S3 integration tests (MinIO)
        run: make test-s3-local
